{% load django_bootstrap5 %}

<form action="" method="post" class="form">
    {% csrf_token %}

    {% bootstrap_form form %}

    {% bootstrap_button button_type="submit" content="Submit <span>&check;</span>" %}
    {% bootstrap_button button_type="reset" content="Reset <span>&#8635;</span>" %}
    {% bootstrap_button button_type="button" content="Cancel <span>&times;</span>" onclick="cancelForm()" %}
</form>

<script type="text/javascript">
    function cancelForm() {
        if(confirm('Are you sure you want to Cancel?')) {
            window.history.back();
            //window.location="{% url 'pages:listContactus' %}";
        }
    }
</script>