{% extends 'base.html' %}

{% load django_bootstrap5 %}

{% block content %}
<form action="{% url 'pages:deleteContact' %}" method="post">
    {% csrf_token %}
    
    <div class="d-flex justify-content-between align-items-center mb-2 p-3">
        <h3 class="mb-0">Contact Us</h3>
        <div>
            <a class="btn btn-primary" href="{% url 'pages:createContact' %}">Create New</a>
            {% bootstrap_button button_type="submit" content="Delete" onclick="return confirm('Are you sure you want to proceed?');" %}
        </div>
    </div>

    {% include "alert.html" %}
    
    {% include "list.html" %}

</form>

<script type="text/javascript">
    function toggleAll(source) {
        // Use querySelectorAll to get all checkboxes with the specific class name
        checkboxes = document.querySelectorAll('.contact-checkbox');
        
        // Loop through the list and set their checked property to the master's checked property
        for (var i = 0; i < checkboxes.length; i++) {
            checkboxes[i].checked = source.checked;
        }
    }
</script>

{% endblock %}