{% extends 'base.html' %}
{% load qr_code %}

{% block content %}

    {% include "alert.html" %}

    <h3>{{ model_name }}</h3>

    {% for name, value in contact.get_fields %}
        <p><b>{{ name }}:</b> {{ value }}</p>
    {% endfor %}

    {% qr_from_text contact.email size="M" %}

    <a href="{% url 'pages:listContactus' %}" class="btn btn-primary">Go to List</a>
    <a href="{% url 'pages:contactEdit' contact.id %}" class="btn btn-primary">Edit</a>
    <a href="{% url 'pages:deleteContact' contact.id %}" class="btn btn-danger" onclick="return confirm('Are you sure you want to proceed?');">Delete</a>

{% endblock %}