{% load qr_code %}

<div class="row">
    <div class="col-md-12 mt-3 mb-2">
      <p>Showing: <span id="recordCount">{{ list_obj.number }}-{{ rec_count }} of {{ list_obj.paginator.count }} records</span></p>
    </div>
  </div>
<table class="table table-hover table-striped">
    <thead>
        <tr>
            <!-- Checkbox column header -->
            <th scope="col">
                <input class="form-check-input" type="checkbox" id="selectAll" onclick="toggleAll(this)">
            </th>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Image</th>
            <th scope="col">URL</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% if not list_obj %}
            <tr>
                <td colspan="7" class="text-center">No record found</td>
            </tr>
        {% else %}
            {% for blog in list_obj.object_list %}
            <tr>
                <td>
                    <input name="blog_ids" class="form-check-input blog-checkbox" value="{{ blog.id }}" type="checkbox" id="blog{{ blog.id }}">
                </td>
                <th scope="row">{{ blog.id }}</th>
                <td class="text-capitalize">{{ blog.title }}</td>
                <td>{{ blog.description }}</td>
                <td>{{ blog.image }}</td>
                <td>{{ blog.url }}</td>
                <td>
                    <!-- View Button -->
                    <a class="btn btn-outline-secondary btn-sm me-2" href="{% url 'pages:blogView' blog.id %}">
                        View
                    </a>
                    <!-- Edit Button -->
                    <a class="btn btn-outline-secondary btn-sm me-2" href="{% url 'pages:blogEdit' blog.id %}">
                        Edit
                    </a>
                    <!-- Delete Button -->
                    <a class="btn btn-outline-danger btn-sm" href="{% url 'pages:deleteBlog' blog.id %}" onclick="return confirm('Are you sure you want to proceed?');">
                        Delete
                    </a>
                    <!-- Tiny Small Medium Large Huge -->
                    {% qr_from_text blog.email size="T" %}
                </td>
            </tr>
            {% endfor %}
        {% endif %}
    </tbody>
</table>

{% include 'pagination.html' %}